<!-- plotly-js loader -->

<script src="/assets/js/plotly_styles.js"></script>

<script type="text/javascript">
  (function () {
    function relayoutPlots(layout) {
      const elements = document.querySelectorAll('.js-plotly-plot');
      elements.forEach((elem) => {
        const id = elem.id;
        if (elem.getAttribute('data-plotly-skip-relayout') !== 'true') {
          Plotly.relayout(id, layout);
        }
      });
    }

    function updatePlotly(event) {
      if (event.source === window && event.data && event.data.direction === ModeToggle.ID) {
        const mode = event.data.message;

        let expectedTheme = mode === ModeToggle.DARK_MODE ? 'dark' : 'default';
        const template = getPlotlyTemplate(expectedTheme);
        const layout = {template : template};
        relayoutPlots(layout);
      }
    }

    let initTheme = 'default';
    const html = document.documentElement;

    if (
      (html.hasAttribute('data-mode') && html.getAttribute('data-mode') === 'dark') ||
      (!html.hasAttribute('data-mode') && window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      initTheme = 'dark';
    }

    const template = getPlotlyTemplate(initTheme);
    // Passed between calls to updatePlotly
    const layout = {template: template};

    Promise.all(plotlyDeferredFuncArray.map(f => f()))
      .then((results) => {
        // We need to wait until all the promises are resolved
        // before relaying out all the plots or Plotly can hang.
        relayoutPlots(layout);
      })

    window.addEventListener('message', updatePlotly);
  })();
</script>
